body {
  background-color: white;
}
header {
  background-color: white;
  padding-top: 35px;
  height: 70px;
  width: 1600px;
  display: flex;
  font-family: "Inter";
  font-style: normal;

  font-size: 16px;
  line-height: 19px;
}

.containerOne {
  display: flex;
  justify-content: space-between;
  padding-right: 90px;
}

.logo1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 41px;
  background: #1abe84;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: 90px;
}
.logo2 {
  height: 15px;
  width: 15px;
  background: #fb8f1d;
  border: 3px solid #ffffff;
  border-radius: 50%;
  left: 180px;
  top: 52px;
}
.navmenu {
  justify-content: space-between;
  column-gap: 50px;
  display: flex;
  margin-left: 747px;
  margin-top: 21px;
}
.home {
  color: black;
  font-weight: bold;
}
.destinations {
  color: #b8becd;
  font-weight: 400;
}
.about {
  color: #b8becd;
  font-weight: 400;
}
.partner {
  color: #b8becd;
  font-weight: 400;
}
.login {
  display: flex;
  height: 44px;
  width: 132px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #fb8f1d;
  align-items: center;
  color: #fb8f1d;
  font-weight: 500;
  margin-bottom: 50px;
  justify-content: center;
  margin-left: 30px;
  margin-top: 5px;
}
.register {
  height: 44px;
  width: 132px;
  background: #fb8f1d;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  justify-content: center;
  color: #ffffff;
  border: solid 1px;
  margin-left: 20px;
  margin-top: 5px;
}
